*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

#f1{
    padding-top: 27%;
}

.main{
    display: flex;
}

.first{
    width:50%;
    height: auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    
}
#f2{
    text-align: center;
}
#f3{
    padding-left: 10px;
}
.second {
    font-size: 1rem;
    width: 50%;
    height: auto;
    background-color: white;
    color: green;
    text-align: justify;
 
}